$asap-font-path: "~dso-toolkit/dist/toolkit/fonts/Asap/";
$fa-font-path: "~dso-toolkit/dist/toolkit/fonts/fontawesome/";
$icon-font-path: "~dso-toolkit/dist/toolkit/fonts/bootstrap/";

@import "~dso-toolkit/src/styles/mixins/dso-variables";
@import "~dso-toolkit/src/styles/mixins/bootstrap-variables";

@import "~dso-toolkit/src/styles/mixins/mixins";
@import "~dso-toolkit/src/styles/mixins/extends";
@import "~dso-toolkit/src/styles/mixins/font-asap";

@import '{ .btn as .dso-toolkit-btn } from ~dso-toolkit/src/styles/components/button';

button {
  @extend .dso-toolkit-btn;
}
